<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Jewelry</title>
</head>
<body>
GREETING PAGE
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Jewelry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Administration</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_USER')">
                <li class="nav-item">
                    <a class="nav-link" href="/myBasket">Basket</a>
                </li>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/login">log in</a>
            </li>
            <li class="nav-item">
                <form action="/registration" method="GET">
                    <a class="nav-link" href="/registration">Registration</a>
                </form>
            </li>

        </ul>
        <div th:text="${#authentication.name}" ></div>
        <form th:action="@{/logout}" method="post">
            <input class="nav-link ml-3" type="submit" value="Sign Out"/>
        </form>
    </div>
</nav>
<div class="container mt-5">
<div>
    Filter by category
    <form th:action="@{/filter}" method="GET">
        <input type="submit" name="filter" value="show all">
        <input type="submit" name="filter" value="rings">
        <input type="submit" name="filter" value="earrings">
        <input type="submit" name="filter" value="necklace">
    </form>
</div>
<table border="1">
    <tr>
        <td>idJewelry</td>
        <td>Title</td>
        <td>urlImage</td>
        <td>Price</td>
    </tr>
    <tr th:each="thing : ${goods}">
        <td th:text="${thing.getIdJewelry()}"></td>
        <td th:text="${thing.getTitle()}"></td>
        <td > <img th:src="@{/img/{l} (l= ${thing.getUrlImage()})}" th:width="250px" th:height="250px"> </td>
        <td th:text="${thing.getPrice()}"></td>
        <td>
            <div sec:authorize="not isAuthenticated()">
                <form th:action="@{/log}">
                    <input type="submit" value="log in">
                </form>

            </div>
            <div sec:authorize="hasRole('ROLE_USER')">
            <form action="/addBasket" method="GET">
                <input type="hidden" name="jewelryId" th:value="${thing.getIdJewelry()}">
                <input type="submit" value="add to cart">
            </form>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form action="/editJewelry" method="GET">
                    <input type="hidden" name="jewelryId" th:value="${thing.getIdJewelry()}">
                    <input type="submit" value="add to cart">
                </form>
            </div>
        </td>
    </tr>
</table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>