<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jewelry Shop</title>
</head>
<body>
<table border="1">
    <tr>
        <td>user id</td>
        <td>user name</td>
        <td>role</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:each="role : ${user.getRoles()}" th:text="${role}"></td>
        <td>
            <a href="editUser.html" th:href="@{/editUser/{orderId} (orderId=${user.getId()})}">edit</a>
        </td>
    </tr>
</table>

</body>
</html>